In [52]:
data = {'1001': {'name': 'Dairy milk',       'price': 20,      'quantity': 500},                            #chocolates
        '1002': {'name': 'Twix',             'price': 45,      'quantity': 100},
        '1003': {'name': 'KitKat',           'price': 30,      'quantity': 500},
        '1004': {'name': 'Nutties',          'price': 40,      'quantity': 300},
        '1005': {'name': 'Snickers',         'price': 20,      'quantity': 200},
        '1006': {'name': 'Galaxy',           'price': 40,      'quantity': 400},
        '1007': {'name': 'Cadbury',          'price': 50,      'quantity': 500},
        '1008': {'name': 'Dark Chocolate',   'price': 60,      'quantity': 250},
        '1009': {'name': 'Hersheys',         'price': 50,      'quantity': 100},
        '1010': {'name': 'Pizza',            'price': 300,     'quantity': 100},                            #food
        '1011': {'name': 'Burger',           'price': 200,     'quantity': 50},
        '1012': {'name': 'Momos',            'price': 150,     'quantity': 100},
        '1013': {'name': 'Rice',             'price': 200,     'quantity': 250},
        '1014': {'name': 'Roti',             'price': 100,     'quantity': 100},
        '1015': {'name': 'Paneer',           'price': 250,     'quantity': 100},
        '1016': {'name': 'iPhone',           'price': 60000,   'quantity': 50},                             #electronics
        '1017': {'name': 'Samsung',          'price': 50000,   'quantity': 50},
        '1018': {'name': 'OnePlus',          'price': 40000,   'quantity': 60},
        '1019': {'name': 'Oppo',             'price': 40000,   'quantity': 60},
        '1020': {'name': 'iPad',             'price': 80000,   'quantity': 20},
        '1021': {'name': 'AirPods',          'price': 15000,   'quantity': 80},
        '1022': {'name': 'Headphones',       'price': 5000,    'quantity': 100},
        '1023': {'name': 'Tshirt',           'price': 600,     'quantity': 500},                            #clothes
        '1024': {'name': 'Jean',             'price': 1000,    'quantity': 250},
        '1025': {'name': 'Skirt',            'price': 1000,    'quantity': 200},
        '1026': {'name': 'Shorts',           'price': 800,     'quantity': 500},
        '1027': {'name': 'Formal Wear',      'price': 2000,    'quantity': 250},
        '1028': {'name': 'Jacket',           'price': 1500,    'quantity': 200},
        '1029': {'name': 'Scarf',            'price': 400,     'quantity': 100},
        '1030': {'name': 'Hats',             'price': 300,     'quantity': 300},
       }

In [53]:
import json

records = json.dumps(data)

records

'{"1001": {"name": "Dairy milk", "price": 20, "quantity": 500}, "1002": {"name": "Twix", "price": 45, "quantity": 100}, "1003": {"name": "KitKat", "price": 30, "quantity": 500}, "1004": {"name": "Nutties", "price": 40, "quantity": 300}, "1005": {"name": "Snickers", "price": 20, "quantity": 200}, "1006": {"name": "Galaxy", "price": 40, "quantity": 400}, "1007": {"name": "Cadbury", "price": 50, "quantity": 500}, "1008": {"name": "Dark Chocolate", "price": 60, "quantity": 250}, "1009": {"name": "Hersheys", "price": 50, "quantity": 100}, "1010": {"name": "Pizza", "price": 300, "quantity": 100}, "1011": {"name": "Burger", "price": 200, "quantity": 50}, "1012": {"name": "Momos", "price": 150, "quantity": 100}, "1013": {"name": "Rice", "price": 200, "quantity": 250}, "1014": {"name": "Roti", "price": 100, "quantity": 100}, "1015": {"name": "Paneer", "price": 250, "quantity": 100}, "1016": {"name": "iPhone", "price": 60000, "quantity": 50}, "1017": {"name": "Samsung", "price": 50000, "quantity": 50}, "1018": {"name": "OnePlus", "price": 40000, "quantity": 60}, "1019": {"name": "Oppo", "price": 40000, "quantity": 60}, "1020": {"name": "iPad", "price": 80000, "quantity": 20}, "1021": {"name": "AirPods", "price": 15000, "quantity": 80}, "1022": {"name": "Headphones", "price": 5000, "quantity": 100}, "1023": {"name": "Tshirt", "price": 600, "quantity": 500}, "1024": {"name": "Jean", "price": 1000, "quantity": 250}, "1025": {"name": "Skirt", "price": 1000, "quantity": 200}, "1026": {"name": "Shorts", "price": 800, "quantity": 500}, "1027": {"name": "Formal Wear", "price": 2000, "quantity": 250}, "1028": {"name": "Jacket", "price": 1500, "quantity": 200}, "1029": {"name": "Scarf", "price": 400, "quantity": 100}, "1030": {"name": "Hats", "price": 300, "quantity": 300}}'

In [59]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))

if (ui_quant <= (data[ui_prod]['quantity'])):                                       #checking availiabilty of the product
    print("The product is available")

    print("*********************")
    print("Product: ", data[ui_prod]['name'])
    print("Price: ", data[ui_prod]['price'])
    print("Billing Amount: ", data[ui_prod]['price'] * ui_quant)
    print("*********************")

    data[ui_prod]['quantity'] = data[ui_prod]['quantity'] - ui_quant 

    cash = int(input("Pay the cash for the billing amount: "))
    if (cash == (data[ui_prod]['price'] * ui_quant)):
        print("*****Thank you for shopping with us*****")
    elif (cash > (data[ui_prod]['price'] * ui_quant)):
        print("Your exchange amount is: ", (cash - (data[ui_prod]['price'] * ui_quant)))
        print("*****Thank you for shopping with us*****")
    else:
        print("The amount you entered is less, please pay", ((data[ui_prod]['price'] * ui_quant) - cash), "more.")
        x = int(input("Pay the cash for the remaining amount: "))
        print("*****Thank you for shopping with us*****")

else:
    print("The product is not available")

Enter the product_Id: 1001
Enter the quantity: 2
The product is available
*********************
Product:  Dairy milk
Price:  20
Billing Amount:  40
*********************
Pay the cash for the billing amount: 50
Your exchange amount is:  10
*****Thank you for shopping with us*****

In [61]:
records = json.dumps(data)

fd = open("records.json",'w')
fd.write(records)
fd.close()

In [62]:
records.split("},")

['{"1001": {"name": "Dairy milk", "price": 20, "quantity": 498',
 ' "1002": {"name": "Twix", "price": 45, "quantity": 100',
 ' "1003": {"name": "KitKat", "price": 30, "quantity": 500',
 ' "1004": {"name": "Nutties", "price": 40, "quantity": 300',
 ' "1005": {"name": "Snickers", "price": 20, "quantity": 200',
 ' "1006": {"name": "Galaxy", "price": 40, "quantity": 400',
 ' "1007": {"name": "Cadbury", "price": 50, "quantity": 500',
 ' "1008": {"name": "Dark Chocolate", "price": 60, "quantity": 250',
 ' "1009": {"name": "Hersheys", "price": 50, "quantity": 100',
 ' "1010": {"name": "Pizza", "price": 300, "quantity": 100',
 ' "1011": {"name": "Burger", "price": 200, "quantity": 50',
 ' "1012": {"name": "Momos", "price": 150, "quantity": 100',
 ' "1013": {"name": "Rice", "price": 200, "quantity": 250',
 ' "1014": {"name": "Roti", "price": 100, "quantity": 100',
 ' "1015": {"name": "Paneer", "price": 250, "quantity": 100',
 ' "1016": {"name": "iPhone", "price": 60000, "quantity": 50',
 ' "1017": {"name": "Samsung", "price": 50000, "quantity": 50',
 ' "1018": {"name": "OnePlus", "price": 40000, "quantity": 60',
 ' "1019": {"name": "Oppo", "price": 40000, "quantity": 60',
 ' "1020": {"name": "iPad", "price": 80000, "quantity": 20',
 ' "1021": {"name": "AirPods", "price": 15000, "quantity": 80',
 ' "1022": {"name": "Headphones", "price": 5000, "quantity": 100',
 ' "1023": {"name": "Tshirt", "price": 600, "quantity": 500',
 ' "1024": {"name": "Jean", "price": 1000, "quantity": 250',
 ' "1025": {"name": "Skirt", "price": 1000, "quantity": 200',
 ' "1026": {"name": "Shorts", "price": 800, "quantity": 500',
 ' "1027": {"name": "Formal Wear", "price": 2000, "quantity": 250',
 ' "1028": {"name": "Jacket", "price": 1500, "quantity": 200',
 ' "1029": {"name": "Scarf", "price": 400, "quantity": 100',
 ' "1030": {"name": "Hats", "price": 300, "quantity": 300}}']

In [63]:
print("Adding new item.")
prod_id = str(input("Enter product id: "))
name = str(input("Enter name: "))
price = int(input("Enter price: "))
quantity = int(input("Enter quantity: "))

data[prod_id] = {'name': name, 'price': price, 'quantity': quantity}

records = json.dumps(data)

fd = open("records.json",'w')
fd.write(records)
fd.close()

Adding new item.
Enter product id: 1031
Enter name: gloves
Enter price: 350
Enter quantity: 50

In [64]:
records.split("},")

['{"1001": {"name": "Dairy milk", "price": 20, "quantity": 498',
 ' "1002": {"name": "Twix", "price": 45, "quantity": 100',
 ' "1003": {"name": "KitKat", "price": 30, "quantity": 500',
 ' "1004": {"name": "Nutties", "price": 40, "quantity": 300',
 ' "1005": {"name": "Snickers", "price": 20, "quantity": 200',
 ' "1006": {"name": "Galaxy", "price": 40, "quantity": 400',
 ' "1007": {"name": "Cadbury", "price": 50, "quantity": 500',
 ' "1008": {"name": "Dark Chocolate", "price": 60, "quantity": 250',
 ' "1009": {"name": "Hersheys", "price": 50, "quantity": 100',
 ' "1010": {"name": "Pizza", "price": 300, "quantity": 100',
 ' "1011": {"name": "Burger", "price": 200, "quantity": 50',
 ' "1012": {"name": "Momos", "price": 150, "quantity": 100',
 ' "1013": {"name": "Rice", "price": 200, "quantity": 250',
 ' "1014": {"name": "Roti", "price": 100, "quantity": 100',
 ' "1015": {"name": "Paneer", "price": 250, "quantity": 100',
 ' "1016": {"name": "iPhone", "price": 60000, "quantity": 50',
 ' "1017": {"name": "Samsung", "price": 50000, "quantity": 50',
 ' "1018": {"name": "OnePlus", "price": 40000, "quantity": 60',
 ' "1019": {"name": "Oppo", "price": 40000, "quantity": 60',
 ' "1020": {"name": "iPad", "price": 80000, "quantity": 20',
 ' "1021": {"name": "AirPods", "price": 15000, "quantity": 80',
 ' "1022": {"name": "Headphones", "price": 5000, "quantity": 100',
 ' "1023": {"name": "Tshirt", "price": 600, "quantity": 500',
 ' "1024": {"name": "Jean", "price": 1000, "quantity": 250',
 ' "1025": {"name": "Skirt", "price": 1000, "quantity": 200',
 ' "1026": {"name": "Shorts", "price": 800, "quantity": 500',
 ' "1027": {"name": "Formal Wear", "price": 2000, "quantity": 250',
 ' "1028": {"name": "Jacket", "price": 1500, "quantity": 200',
 ' "1029": {"name": "Scarf", "price": 400, "quantity": 100',
 ' "1030": {"name": "Hats", "price": 300, "quantity": 300',
 ' "1031": {"name": "gloves", "price": 350, "quantity": 50}}']